@font-face {
  font-family: "Storopia";
  src: url(../fonts/Storopia.ttf);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  background: cover;
  background-color: black;
}
#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
}
